body{
    background-color: #333333;
}
.jumbotron{
    background-color:#333333 ;
    right: 200px;
}
table {
    background-color: lightgray;
    margin-left: -15px;
    margin-top: 50px;
}

.active {
    background-color: black;
    color: white;
}

.flex_nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.flex_nav li{
    list-style: none;
    background-color: #D2B48C;
    padding: 5px;
    margin: 10px;
    width:100%;  
}

.flex_nav a {
    text-decoration: none;
    color:white;
}

.flex-box-item {
    border-bottom: solid white;
    background-color: #333333;
}

.form_item {
    margin-top: 3px;
    margin-bottom: 3px;
}

.logo_area {
    margin: 10px;
    background-color: black;
    color: white;
    border-radius: 10px ;
    text-align: center;
    overflow: hidden;
}

.image_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image_box a{
    text-decoration: none;
    color: black;
}

.image_box a:hover {
    color: white;
    border-bottom: solid black;
}
nav{
    background-color: black;
}
footer{
    padding: 10px 10px;
    background-color: black;
    color: #D2B48C;
}

.nav-item a{
    color: #D2B48C;
    font-size: 1.3rem;
}
.nav-link a:visited{
    color: whitesmoke;
 }

.navbar-nav a:hover{
    text-decoration: underline;
    color: #D2B48C;
}

#sidebar{
    position: absolute;
    /*right: 0;*/
    width: 250px;
    height: 100%;
    border-left: 4px solid #333333;
    right: -250px;
    transition: all 300ms;
}
#sidebar.active{
    right: 0;
}
#sidebar .toggle-btn{
    position: absolute;
    right: 300px;
    top: 20px;
    background-color: #D2B48C;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
}
#sidebar .toggle-btn:hover{
    background-color: #F0E68C;
}

#sidebar .toggle-btn span{
    display: block;
    width: 25px;
    height: 4px;
    background-color: #666;
    margin: 4px 0;
}